<%- include("partials/header"); -%>

	<% postList.forEach(function(element) { %>
		<div class="main">
			<div class="content">
				<div class="post-image"> 
					<img src="data:image/<%=element.blogImage.contentType%>;base64,<%=element.blogImage.data.toString('base64')%>"> 
				</div>
				<div class="publish">
					<a href="#" class="author"><i class="fas fa-user"></i> &nbsp;<%= element.bloggerName %></a>
					<a href="#" class="date"><i class="fas fa-calendar-alt"></i> &nbsp;<%= element.createdAt %></a>
				</div>
			</div>
			<div class="post">
				<h1 class="title"> <%= element.composeTitle %> </h1>
				<p class="description"> <%= element.composeBody.substring(0, 150) + " ... " %> </p>
				<div class="cta">
					<small><a href="/post/<%= element.composeTitle %>">Read More &rarr;</a></small>
				</div>
			</div>            
		</div>
	<% }); %>

<%- include("partials/footer"); -%>
